// COLORS
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;

// primary colors
$color-magenta: #ff00ff;
$color-deep-sky: #00c8ff;
$color-bright-grass: #02ff74;

// secondary colors
$color-purple: #b21ab2;
$color-purple-dark: #6b2475;
$color-green: #1d9980;
$color-green-dark: #1f6843;
$color-blue: #005C97;
$color-blue-dark: #363795;


// font
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
