*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* equates to 10px from browser default of 16px
defines 1rem */
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
